# Node
node_modules/
npm-debug.log
package-lock.json
yarn.lock

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Env files
.env

# Build
dist/
build/

# OneDrive temp
~$*
